@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Nosifer&display=swap');
h1 {
    text-align: center;
    background: linear-gradient(135deg, #FF3131 0%, #FF5E00 50%, #3AC561 100%);
    font-family: 'Creepster', system-ui;
    font-size: 2em;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: drop-shadow(0 0 10px rgba(58, 197, 97, 0.6));;
    animation: spooky-pulse 3s infinite;
}
canvas {
    display: block;
    max-width: 100%;
    height: auto;
    align-content: center;
    margin: 0 auto 20px auto;
    background-color: #000;
    border: 4px solid #3AC561;
    box-shadow: 0 0 10px #3AC561, inset 0 0 10px #3AC561;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    width: 80%;
    border: 3px solid #3AC561;
    border-radius: 10px;
    box-shadow: 0 0 10px #3AC561, inset 0 0 10px #3AC561;
    margin: 20px auto;
    max-width: 700px;
    text-align: center;
    
}
html, body {
    background-color: #000;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}
.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
  

@media (max-width: 768px) {
    .container {
        flex-direction: column; 
    }
    .sidebar {
        width: 100%;       
        height: auto;      
        position: static;  
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #3AC561; 
    }
    .content {
        width: 100%;
        padding: 10px;     
    }
    canvas {
        width: 100%;
        height: auto;
    }
    section {
        width: 95%;        
    }    
}

.sidebar {
  position: sticky; 
  top: 0;
  height: 100vh;
  flex: 0 0 200px; 
  background-color: #0d0d0d;
  border-left: 2px solid #3AC561;
  border-right: 2px solid #3AC561;
  border-top: 2px solid #3AC561 ;
  border-bottom: 2px solid #3AC561;
  box-shadow: 0 0 10px #3AC561, inset 0 0 10px #3AC561;
  color: white;
  padding: 20px;
  flex-shrink: 0;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
@keyframes spooky-pulse {
    0%, 100% {
        transform: scale(1);
        filter: drop-shadow(0 0 8px rgba(138, 241, 4, 0.8));
    }
    50% {
        transform: scale(1.05);
        filter: drop-shadow(0 0 20px rgba(138, 241, 4, 1));
    }
}